<div id="zhexWrapper">
<ul id="zhexGrid">
      <li class="zhex">
        <div class="zhexIn">
          <a class="zhexLink" href="#">
            <div class="zhex-content">
              <img src="https://creativecrux.s3.amazonaws.com/images/_thumbs-184/ident-fahr-184.jpg" alt="" />
              <h1>This is a title</h1>
              <p>Some sample text about the article this hexagon leads to</p>
            </div>
          </a>
        </div>
      </li>
      <li class="zhex">
        <div class="zhexIn">
          <a class="zhexLink" href="#">
          <div class="zhex-content">
            <img src="https://creativecrux.s3.amazonaws.com/images/_thumbs-184/int-descente-184.jpg" alt="" />
            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </div>
          </a>
        </div>
      </li>
      <li class="zhex">
        <div class="zhexIn">
          <a class="zhexLink" href="#">
          <div class="zhex-content">
            <img src="https://creativecrux.s3.amazonaws.com/images/_thumbs-184/int-geiger-01.jpg" alt="" />
            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </div>
          </a>
        </div>
      </li>
      <li class="zhex">
        <div class="zhexIn">
          <a class="zhexLink" href="#">
          <div class="zhex-content">
            <img src="https://creativecrux.s3.amazonaws.com/images/_thumbs-184/int-geiger-01.jpg" alt="" />
            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </div>
          </a>
        </div>
      </li>
      <li class="zhex">
        <div class="zhexIn">
          <a class="zhexLink" href="#">
          <div class="zhex-content">
            <img src="https://creativecrux.s3.amazonaws.com/images/_thumbs-184/print-xgames-184.jpg" alt="" />
            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </div>
          </a>
        </div>
      </li>  
      <li class="zhex">
        <div class="zhexIn">
          <a class="zhexLink" href="#">
          <div class="zhex-content">
            <img src="https://creativecrux.s3.amazonaws.com/images/_thumbs-184/ident-redzombie-v2-184.jpg" alt="" />
            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </div>
          </a>
        </div>
      </li>
      <li class="zhex">
        <div class="zhexIn">
          <a class="zhexLink" href="#">
          <div class="zhex-content">
            <img src="https://creativecrux.s3.amazonaws.com/images/_thumbs-184/int-roots-v2-184.jpg" alt="" />
            <h1>This is a title</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </div>
          </a>
        </div>
      </li>
      
    </ul>
</div>    