<div class="part">
  <h2>Losange</h2>
    <div class="losange">
      <div class="los1">
        <img src="http://farm3.staticflickr.com/2178/3531465579_8bff044e9b_z.jpg?zz=1" alt="" width="255" height="320" />
      </div>
    </div>
</div>

<div class="part">
  <h2>Hexagon</h2>
    <div class="hexa">
      <div class="hex1">
        <div class="hex2">
          <img src="http://farm3.staticflickr.com/2788/4392569951_8bcec3b3ed_z.jpg?zz=1" alt="" width="320" height="313" />
        </div>
      </div>
    </div>
</div>