<div class="parallax">
	<div id="group2" class="parallax__group">
	  <div class="parallax__layer parallax__layer--base">
	    <section>
	    	<h1>Base Layer</h1>
	    	<p>He drank it. Then abruptly he sat down before the table, put his head on his arms, and began to sob and weep like a little boy, in a perfect passion of emotion, while I, with a curious forgetfulness of my own recent despair, stood beside him, wondering.</p>

	    	<p>It was a long time before he could steady his nerves to answer my questions, and then he answered perplexingly and brokenly. He was a driver in the artillery, and had only come into action about seven. At that time firing was going on across the common, and it was said the first party of Martians were crawling slowly towards their second cylinder under cover of a metal shield.</p>
	    </section>
	  </div>
	  <div class="parallax__layer parallax__layer--back">
	    <section>
	    	<h1>Background Layer</h1>
	    	<p>He drank it. Then abruptly he sat down before the table, put his head on his arms, and began to sob and weep like a little boy, in a perfect passion of emotion, while I, with a curious forgetfulness of my own recent despair, stood beside him, wondering.</p>

	    	<p>It was a long time before he could steady his nerves to answer my questions, and then he answered perplexingly and brokenly. He was a driver in the artillery, and had only come into action about seven. At that time firing was going on across the common, and it was said the first party of Martians were crawling slowly towards their second cylinder under cover of a metal shield.</p>
	    </section>
	  </div>
  
	</div>
</div>