<div class="parallax">
	<div class="parallax__group">
		<div class="parallax__layer parallax__layer__0">
			<img src="https://s3-us-west-2.amazonaws.com/creativecrux/images/parallax2/p0.png" />
		</div>
		<div class="parallax__layer parallax__layer__1">
			<img src="https://s3-us-west-2.amazonaws.com/creativecrux/images/parallax2/p3.png" />
		</div>
		<div class="parallax__layer parallax__layer__2">
			<img src="https://s3-us-west-2.amazonaws.com/creativecrux/images/parallax2/p2.png" />
		</div>
		
	</div>
	<div class="parallax__cover"></div>
</div>