

<p class="zintro">
	Hi, I'm Zach and I have an insatiable drive to learn and develop exceptional user experiences. I possess a strong foundation in design and front-end development, and I am also learning code by building a few projects in Ruby on Rails and Angular 2. I'm interested in joining an Agile team where I can help develop awesome projects, while continuing to learn and share my excitement for learning with my colleagues.
</p>

<h2>Professional Experience</h2>

<h3>Freelance Designer / UX Dev</h3>
<p class="date">July 2016 - Current</p>
<ul>
	<li>
		Currently involved with freelance design and UX projects part time while enrolled in courses to improve my coding skills.
	</li>
	<li>
		Learning how to set up a micro-service application using Ruby on Rails and Angular 2.
	</li>
</ul>


<h3>Frontend Developer</h3>
<p class="date">Blendtec | Dec 2014-Jun 2016</p>
<ul>
	<li>
		Actively contributed features and bug fixes to company’s e-commerce website. Worked with other developers and marketers in an Agile environment during bi-weekly and weekly sprints. Daily stand-ups, sprint reviews, and sprint planning meetings were used to make communication more effective and increase project completion.
	</li>
	<li>
		Implemented a custom navbar &amp; footer system improving UX/UI for all users, with a specific focus on mobile-first.
	</li>
	<li>
		Contributed to the rebuilding of the Blendtec shopping cart with a cross-functional team comprised of developers, stakeholders, marketers, and testers to improve user experience and increase conversion rates. Coded View  les using CakePHP with mobile first emphasis, assisted with updating controller actions, and helped write JavaScript features.
	</li>
	<li>
		Collaborated with team to implement a product registration &amp; rewards wizard, to improve customer support and increase customer satisfaction.
	</li>



<h3>UX Designer</h3>
<p class="date">Blendtec | Feb 2014 - Dec 2014</p>
<ul>
	<li>Created concepts, wireframes, and designs to enhance user experience on
the Blendtec website, using UXPin, Sketch, and Photoshop.</li>

	<li>Worked closely with members of the development team to provide assets that would work with a mobile- rst approach.</li>

	<li>Helped research and advise on products and technology that would help communicate concepts more quickly and effectively.
</li>

</ul>


<h3>Front-end / UX Designer</h3>
<p class="date">
	Mighty Clever | 2010 – 2014
</p>
<ul>
	<li>
		Assisted in the conceptualization and wireframing of small business
websites that improved brand image and increased clients' business.
	</li>
	<li>
		Developed HTML/CSS code for informational websites using frameworks such as WordPress and Expression engine.
	</li>
</ul>