
<h2>Education</h2>

<h3>In Progress: Computer Science Degree</h3>
<p class="date">UVU | Jan 2016 - Present</p>

<h3>Ruby on Rails Coding Bootcamp</h3>
<p class="date">DevPoint Labs S.L.C. | Aug 2013 - Dec 2013</p>

<h3>B.F.A. Visual Communication</h3>
<p class="date">WSU | May 2008</p>


<h2>Skills</h2>

<ul>
	<li>
		Adobe Creative Suite
	</li>
	<li>
		UX / UI (UXPin, MockFlow, Sketch)
	</li>
	<li>
		HTML5 / CSS / SASS
	</li>
	<li>
		JavaScript, jQuery
	</li>
	<li>
		Ruby on Rails
	</li>
	<li>
		Angular 2
	</li>
	<li>
		PHP / CakePHP
	</li>
	<li>
		Agile
	</li>
</ul>

<h2>Extra</h2>

<ul>
	<li>
		Eagle Scout
	</li>
	<li>
		Fluent Spanish
	</li>
	<li>
		Illustrator
	</li>
	<li>
		JavaScript, jQuery
	</li>
</ul>