
<h3>Education</h3>

<h4>In Progress: Computer Science Degree</h4>
<p class="date">UVU | Jan 2016 - Present</p>

<h4>Ruby on Rails Coding Bootcamp</h4>
<p class="date">DevPoint Labs S.L.C. | Aug 2013 - Dec 2013</p>

<h4>B.F.A. Visual Communication</h4>
<p class="date">WSU | May 2008</p>


<h3>Skills</h3>

<ul>
	</li>
	<li>HTML5 / CSS / SASS
	</li>
	<li>JavaScript, jQuery
	</li>
	<li>Ruby on Rails
	</li>
	<li>Angular 2
	</li>
	<li>PHP / CakePHP
	</li>
	<li>Agile
	</li>
	<li>Adobe Creative Suite
	</li>
	<li>UX / UI (UXPin, MockFlow, Sketch)
</ul>

<h3>Extra</h3>

<ul>
	<li>Eagle Scout
	</li>
	<li>Fluent Spanish
	</li>
	<li>Illustrator
	</li>
	<li>Foosball Fanatic
	</li>
	<li>Outdoor Enthusiast
	</li>

</ul>