<div class="nested-fields">
	<%= f.input :name, label: "Image Name:", placeholder: "Image Name" %>
	<%= f.input :urlpath, label: "Image URL:", placeholder: "Image URL" %>
	<%= link_to_remove_association("remove task", f) %>
</div>