
<div class="main-bg-gradient"></div>
<div class="main-bg">
	<div class="container intro">
		<!--particle generator-->
		<div class="row">
			<h1><span>Crafting Exceptional User Experiences </span>Through Coding and Design</h1>
			<%= render 'svg/cruxlogo5' %>
		</div>
		
	</div>
	<!--logo title-->
	
  	

	<!--logo title-->

	<%#= render "svg/crux_hero" %>
</div>

<div class="container z-hexContainer">
	<div class="row">
		<%= render 'shared/hex_grid' %>
	</div>
	<%#= render 'svg/testtube' %>

</div>

<div class="container-fluid z-uxContainer">
	<div class="row">
		<div class="z-ux-left">
			<%= render 'svg/robot' %>
		</div>
		<div class="z-ux-right">
			<h2>DEV BLOG</h2>
			<p>Although not much of a blogger, I figured this would be a good way to document my journey through the coding trenches.</p>
			
			<h3>Currently Learning:</h3>
			<ul>
				<li>Rails Weather API App</li>
				<li>Microservices with Angular and Rails</li>
				<li>Rails 5</li>
				<li>Angular and Firebase</li>
				<li>Snap.svg &amp; GSAP Animations</li>
				<li>Angular &amp; D3</li>

			</ul>
		</div>

	</div>

</div>



<!-- <div class="container">
	<div class="row">
		
	</div>
</div> -->




<div class="container-fluid z-uxContainer">
	<div class="row">
		<!-- <svg id="svg-area"></svg> -->

		<div class="z-ux-left">
			<%= render 'svg/robot2' %>
		</div>
		<div class="z-ux-right">
			<h2>DEV BLOG</h2>
			<p>Although not much of a blogger, I figured this would be a good way to document my journey through the coding trenches.</p>
			
			<h3>Currently Learning:</h3>
			<ul>
				<li>Rails Weather API App</li>
				<li>Microservices with Angular and Rails</li>
				<li>Rails 5</li>
				<li>Angular and Firebase</li>
				<li>Snap.svg &amp; GSAP Animations</li>
				<li>Angular &amp; D3</li>

			</ul>
		</div>


	</div>

</div>






<div class="container">
	<div class="row"> <!-- begin top row -->
		<div class="logo-anim">
		<%# render 'svg/cruxlogo4' %>
		
		</div>
	</div> <!--end top row -->
</div>





