<div class="cd-panel-content">
				<div class="cd-panel-resume" id="resume">
					<h2>Background &amp; Experience </h2>
					<div class="resume-left">
						<%= render 'shared/resume3' %>
						<div id="charts">
							<div id="myChart">
								<canvas id="myChartCanvas"></canvas>
								
							</div>
							<div id="myChart2">
								<canvas id="myChartCanvas2"></canvas>
								
							</div>
							<div id="myChart2">
								<canvas id="radarCanvas"></canvas>
								
							</div>
						</div>

					</div>
					<div class="resume-right">
						<%= render 'shared/resume2' %>
					</div>

				</div>
			</div>	