
$susy: (
  columns: 12,
  gutters: 0,
  math: fluid,
  output: float,
  gutter-position: inside,
);

.project-all-slice {
	width: 100%;
}

.project-slice {
	@include container(100%)

}

.project-slice:hover {		
		

}





#project-detail {
	display: none;
}




.project {
	&--item {
		position: relative;
		overflow: hidden;
		height: 400px;
		@include span(12 of 12);

		@media(min-width: 1000px) {
			@include span(4 of 12);	
		}
		
	}

	&--item:hover {
		img {
			transform:scale(1.05);
			-webkit-filter: grayscale(0%);
			filter: grayscale(0%);
			opacity: 1;
		}

		.project-slice-title {

				color: white;
				text-decoration: none;
				transition:font 0.5s ease;
				opacity: .3;
			
		}
	}

	&-item-description {
		text-align: left;
		padding-right: 20px;
	}



	&-slice-title {
		color: black;
		opacity: 0.3;
		text-transform: uppercase;
		font-family: "bebas_neuebold";
		@include font-size(80px);
		@include line-height(72px);
		letter-spacing: 0;
		transition: all .3s ease-out;
		padding: 20px;
		width: 100px;
	}

	&-slice-title--left {
		@include font-size(180px);
		@include line-height(120px);
		padding-bottom:0;	
		padding-top: 10px;
		display: inline-block;

	}

	&-slice-title--right {
		display: inline-block;
		clear: both;
		padding-top:4px;
		padding-left:4px;

	}


	&--detail{
		position:absolute;
		z-index:9;
		width:inherit;
		word-spacing: inherit; 

	}

	&--i-detail {
		width: 600px;
		
	}

	&--img-wrapper {
		display: block;
		position: relative;
		overflow:hidden;
		margin: auto;
	}

	&--img {
		display: block;
		margin: auto;

		-webkit-transition: all .3s ease-out;
		-moz-transition: all .3s ease-out;
		-o-transition: all .3s ease-out;
		transition: all .3s ease-out;
		
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
		opacity: 0.4;
		
		&:hover {
			transform:scale(1.075);
			-webkit-filter: grayscale(0%);
			filter: grayscale(0%);
			opacity: 1;
		};

		width: 100%;

		@media(min-width: 768px){
			margin-left: -20%;
		}

		@media(min-width: 1000px){
			width: auto;
		}


	}

	&-item {
		@include container(100%);
		/*background: #cc3333;*/
	}


	&-item--image {
		&-full{
			
		}

		&-small{
			@include span(4);
		}
	}

	&-item--svg-bk {
		display:none;
		position: absolute;
  	bottom: 0;
  	width: 100%;
  	height: 100px;
	}


	&-item-content {
		margin-top: 40px;
		padding: 0 20px;
		display: block;
		/*@include span(4 of 12 last);
		/*background-image: linear-gradient(#ff9d2f, #ff6126);*/
		clear: both;
		position: relative;

		&-wrapper {
			padding: 30px 20px 20px 20px;
		}

		.project-previous-next-links {
			display: block;
			margin: auto;
			text-align: center;
			padding-top: 20px;
			padding-bottom: 20px;
			border-bottom: 2px solid #cccccc;

			@media(min-width: 768px) {
				border:0;
			}
		}

		/* Button 4 */
		.btn-4 {
		  border-radius: 10px;
		  border: 2px solid #3c3c3c;
		  color: #3c3c3c;
		  overflow: hidden;
		  font-family: 'bebas_neuebold';
		  @include font-size(34px);
		  background-color: transparent;
		}

		.btn-4:active {
		  border-color: #3c3c3c;
		  color: #3c3c3c;
		}

		.btn-4:hover {
		  border-color: #cccccc;
		  color: #cccccc;
		}

		.btn-4:before {
		  position: absolute;
		  height: 100%;
		  @include font-size(28px);
		  @include line-height(20px);
		  color: #ccc;
		  padding: 16px 0 0 0;
		  -webkit-transition: all 0.3s;
		  -moz-transition: all 0.3s;
		  transition: all 0.3s;
		}

		.btn-4:active:before {
		  color: #3c3c3c;
		}

		.btn-100 {
			width: 100%;

			@media(min-width: 768px) {
				width: auto;
			}
		}




		h1, h2, h3, h4 {
			font-family: "bebas_neueregular";
			color: white;
			text-align: left;

		}

		h1 {
			padding-bottom: 20px;
		}

		h2 {
			@include font-size(60px);
			@include line-height(64px);
			letter-spacing: 2px;
		}

		h2:first-of-type {
			padding-top: 14px;
		}

		h3 {
			font-family: "bebas_neuelight";
			@include font-size(50px);
			@include line-height(52px);
			text-align: left;
			padding-top: 20px;
			padding-bottom: 10px;
			letter-spacing: 2px;

			@media(min-width: 768px){
				text-align: center;
			}
		}

		ul, li, p {
			font-family: "proxima_nova_rgregular";
			color: #3b3b3b;
			text-align: left;
			@include font-size(34px);
			@include line-height(48px);
			letter-spacing: 0;
			margin-left: 0;
			padding:20px;

			@media(min-width: 768px) {
				padding:0;
			}
		}

		pre {
			font-family: "Roboto";
			
			background-color: transparent;
			text-align: left;
			@include font-size(34px);
			@include line-height(48px);
			letter-spacing: 0;
			margin-left: 0;
		}

	}

	&-item--title {
		text-transform: uppercase;
		font-family: "bebas_neuebold";
		font-weight: 700;
		color: #cccccc;
		width: 100%;
		clear:both;
		border-bottom: 2px solid #cccccc;
		padding: 0;
		margin: auto;


		@media(min-width: 1200px) {
			
		}

		h1 {
			color: white;
			padding-right: 0;
			text-align: left;
			font-family: "bebas_neuebold";
			font-weight: 700;
			
			
			@include font-size(120px);
			@include line-height(102px);
			letter-spacing: 2px;

			@media(min-width: 768px) {
				@include font-size(160px);
				@include line-height(140px);
				text-align:center;
				width: 100%;
			}

			span {
				display:block;
			}
			
		}
	}
}

.project-item-images {
	clear: both;
	display: block;
	position: relative;

	img {
		width: 100%;
		margin: auto;
		display: block;
		max-width: 1000px;

		@media(min-width: 1300px) {
			width: auto;

		}
	}	

}



.project-item-summary {
	display: block;
	position: relative;
	float: left;
}

.project-show-bg {
	height: 100%;

	max-width: 1200px;
	margin: auto;
}

.project-show-bg {



	h1 {
		color: #4c4c4c;
	}
	h2, h3, p { color: #4c4c4c; }

	&.super-duper-project {
		h1 {
			color: #bf3e1e;
		}
	}

	
}



.project-item-image-wrapper {
	overflow: hidden;
	position: relative;
	z-index: -20;
}

.project-item-image-bg-effect {
	    width: 250px;
    height: 1600px;
    transform: rotate(45deg);
    background-color: black;
    position: absolute;
    display: block;
    z-index: -10;
    top: -400px;
    left: 200px;
    opacity:.14;
}
.project-item-image-bg-effect2 {
	    width: 100px;
    height: 1600px;
    transform: rotate(45deg);
    background-color: black;
    position: absolute;
    display: block;
    z-index: -10;
    top: -400px;
    left: 700px;
    opacity:.1;
}
.project-item-image-bg-effect3 {
	    width: 30px;
    height: 1600px;
    transform: rotate(45deg);
    background-color: black;
    position: absolute;
    display: block;
    z-index: -10;
    top: -400px;
    left: 400px;
    opacity:.2;
}
.project-item-image-bg-effect4 {
	    width: 160px;
    height: 1600px;
    transform: rotate(-45deg);
    background-color: black;
    position: absolute;
    display: block;
    z-index: -10;
    top: -400px;
    left: 600px;
    opacity:.17;
}
.project-item-image-bg-effect5 {
	    width: 60px;
    height: 1600px;
    transform: rotate(-45deg);
    background-color: black;
    position: absolute;
    display: block;
    z-index: -10;
    top: -400px;
    left: 300px;
    opacity:.12;
}
.project-item-image-bg-effect6 {
	    width: 16px;
    height: 1600px;
    transform: rotate(-45deg);
    background-color: black;
    position: absolute;
    display: block;
    z-index: -10;
    top: -400px;
    left: 400px;
    opacity:.15;
}

.project-item-image-bg-effect7 {
	    width: 50px;
    height: 1600px;
    transform: rotate(-45deg);
    background-color: black;
    position: absolute;
    display: block;
    z-index: -10;
    top: -400px;
    left: 1200px;
    opacity:.17;
}

.project-item-image-bg-effect8 {
	    width: 20px;
    height: 1600px;
    transform: rotate(-45deg);
    background-color: black;
    position: absolute;
    display: block;
    z-index: -10;
    top: -400px;
    left: 1300px;
    opacity:.1;
}


.project-item-image-wrapper:nth-child(2){
	padding: 40px;

	img {
		box-shadow: -1px 1px 40px 4px rgba(0,0,0,0.3);
	}

}
.project-item-image-wrapper:nth-child(3){
	padding: 40px;
	background-color: #bf3e1e;
	img {
		box-shadow: -1px 1px 40px 4px rgba(0,0,0,0.3);
	}


}

.project-item-image-wrapper:nth-child(5){
	background-color: #bf3e1e;
}

.project-item-content {
	@include container(1200px no-gutters);
}

.project-item-content-left {
	@include span(12 of 12);

	@media(min-width: 768px) {
		@include span(8 of 12 no-gutters);
	}
}

.project-item-content-right {
	@include span(12 of 12);
	margin-top: 20px;

	@media(min-width: 768px) {
		margin-top: 0;
		@include span(3.5 of 12 no-gutters last);

	}
}

.project-management-links {
	margin: auto;
	margin-top:20px;
	display: block;
	width: auto;
	text-align: center;

	.btn-proj-manage {
		border-color: #ccc;
		color: #ccc ;
	}

	.btn-proj-manage:focus {
		border-color: #ccc;
		color: #ccc ;
	}

	.btn-proj-manage:active {
		border-color: #ccc;
		color: #ccc ;
	}

	.btn-proj-manage:before {
		color: #333 ;
		padding: 16px 0 0 0;
	}

	.btn-proj-manage:hover {
		color: #333;
		border-color: #333;

		
	}
	


	
}

#toggle-project-detail + .project-detail{
	transition:all 0.5s ease;
}

#toggle-project-detail:before {

}


.show-toggle {
	transition:all 0.5s ease;
}

.show-toggle:before {


}

.show-toggle + .project-detail{
		transition:all 0.5s ease;


	}

	
