.crux-diagram--default {
	width: 100%;
	.main-bk {
		fill: none;
	}
}

.crux-diagram {
	display: none;

	@media(min-width:768px) {
		display: block;
	}

	#crux-diagram {
		width: 100%;
	}
	
	#main-bk {
		fill: none;
	}

	.hex-bk {
	}

	.hex:hover {
		.hex-bk {
			transition: fill .4s ease;
			fill: #f1c020;
		}
		.hex-icon {
			transition: fill .4s ease;
			fill: #ffffff;
		}
	}
}

.crux-diagram--mobile {
	display: block;
	margin-bottom: 20px;

	@media(min-width:768px){
		display: none;
	}

	

	.crux-diagram--item {
		box-sizing: border-box;
		width:300px;
		height:100%;
		margin: 140px auto;
		padding: 30px 0 30px 0;
		border:1px solid red;
	
		
	}
	.crux-diagram--item-info {
		display: none;
	}


}
.svg-project {
	

	svg {
		.icon-bk{
			fill: #E2E2E2 ;
			transition: all .4s ease-out;
		}
	}
	transition: all 1s ease-out;

	
}


.fade-inzzz {
			svg {
				transform: scale(1.2);
				transition: all .4s ease-out;

				.hex-icon {
					fill: #ffffff;
					transition: all .4s ease-out;
				}

				.icon-bk {
					fill: #f1c020;
					transition: all .4s ease-out;
				}
			}
			/*transform: translateY(50px);*/
		}