/* 
*= require md_simple_editor
*/
/* Important */
/* Be sure to include "include 'susy' in the config-application file after 'rails all'" */

$aws: 'http://creativecrux.s3.amazonaws.com/images/';

$susy: (
  /* Tells Susy to use 12 columns */
  columns: 12,
  /* Tells Susy that the container has a max-width of 1120px */
  container: 1120px,
  gutters: 0,
  /* Tells Susy to use border-box */
  global-box-sizing: border-box 
  );

.full-width {
	width:100%;
}

/*.nav {
	@include span(6 of 12);
	height:300px;
	border: purple 1px solid;
}*/
.navbar {
	margin-bottom: 0;
}

@keyframes colorchange
    {
      0%   {background: #00AFB7;}
      25%  {background: #88C440;}
      50%  {background: #E2B705;}
      75%  {background: #88C440;}
      100%  {background: #00AFB7;}
    }

@keyframes bg-reveal
    {
      0%   {opacity: 0;}
      100% {opacity: .3;}
    }



.main-bg-gradient {
	  background-image: url($aws + '_fullsize/crux-bg-scaffold.jpg');
	  position: absolute;
	  height: 370px;
	  width: 100%;
	  opacity: .3;
	  background-size: cover;
	  animation: bg-reveal 6s;
		
		@media(min-width: 500px) {
			background-image: url($aws + '_fullsize/crux-bg-scaffold.jpg');
			height:500px;
		}

}

.main-bg {
	animation: colorchange 10s infinite;
	height: 370px;
	width: 100%;
	text-align: center;
	overflow: hidden;

	@media(min-width: 500px) {
		height: 500px;
	}

	#crux-hero {
		transform: scale(2);
		width: 200%;
		margin-left: -200px;
		margin-top: -600px;


		@media(min-width: 500px){
			transform: scale(1);
			width: 100%;
			margin-left: 0;
		}
	}

	#crux-hero-logo {
		transition: 1s all ease;
		opacity: .5;

		
		path {
			fill: #ffffff;
		}
	}
	#crux-hero-logo:hover {
		opacity: 1;
		transform: scale(.96, .96) translate(25px, 15px) ;
		transition: 1s all ease;

	}
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

.animate-flicker {
    animation: flickerAnimation 4s infinite ease-out;
}

.mask__shape {
  fill: white;
}

#crux-logo-4 {
	position:absolute;
	z-index:999;
	pointer-event: all;
}

#crux-logo-5 {
	width: 100%;
	height: 100%;
	margin-top:0;
	padding: 10px;
	transition: all .2s ease-out;

	path:nth-child(1){
		fill: none;
	}
	path:nth-child(2){
		fill: #ffffff;
	}
	path:nth-child(3){
		fill: #ffffff;
	}


	@media(min-width: 600px){
		padding: 0 20px;
	}

	@media(min-width: 800px){
		padding: 0 40px;
	}
}



#crux-logo-4--clipPath {
	pointer-event: all;

}


.cd-nav-resume {
	h1 {
		font-family: 'bebas_neuebook';
		@include font-size(80px);
		@include line-height(84px);
		color: #708090;
		text-transform: uppercase;
		margin-bottom: 20px;

		
	}

	h2 {
		font-family: 'bebas_neuebook';
		@include font-size(80px);
		@include line-height(84px);
		color: #708090;
		text-transform: uppercase;
		margin-bottom: 20px;
		margin-top: 30px;
		font-weight: normal;
	}

	h3 {
		font-family: 'roboto';
		font-weight: 700;
		@include font-size(40px);
		@include line-height(44px);
		color: #708090;
		text-transform: uppercase;
		margin-bottom: 0px;
		margin-top: 20px;
		letter-spacing: .2px;
	}


	h4 {

	}


	ul {
		list-style: outside;
		list-style: none;
	  padding: 0;
	  margin: 0;

	}

	li {
		font-family: 'roboto';
		font-weight: 300;
		@include font-size(34px);
		@include line-height(50px);
		color: #708090;
		color: #333333;
		margin-bottom:10px;
		letter-spacing: .2px;
		padding-left: 1em; 
  		text-indent: -.7em;

	}

	li::before {
	  content: "• ";
	  color: #333333; /* or whatever color you prefer */
	}

	p {
		font-family: 'roboto';
		font-weight: 300;
		@include font-size(30px);
		@include line-height(44px);
		color: #708090;
		color: #333333;
		margin-bottom:0;
		letter-spacing: .2px;
	}

	p.date {
		font-family: 'roboto';
		font-style: italic;
		font-weight: bolder;
		@include font-size(30px);
		@include line-height(44px);
		color: #708090;
		color: #333333;
		margin-bottom: 10px;
		letter-spacing: .2px;
	}

	p.robotoBold {
		font-family: 'roboto';
		font-weight: 300;
		@include font-size(30px);
		@include line-height(44px);
		color: #708090;
		color: #333333;
		margin-bottom:0;
		letter-spacing: .2px;
	}

	p.zintro {
		font-family: 'roboto';
		font-weight: 300;
		@include font-size(50px);
		@include line-height(64px);
		color: #708090;
		color: #333333;
		margin-bottom:0;
		letter-spacing: .2px;
	}


}

.main-header-wrapper {
	max-width: 800px;
	margin: auto;
	z-index: 50;
}

.intro {
	margin-top: 70px;
	text-align: center;

	h1 {
		font-family: 'bebas_neuebook';
		@include font-size(70px);
		@include line-height(72px);
		color: #ffffff;
		text-transform: uppercase;
		margin-bottom:0;

		span {
			font-family: 'bebas_neuebold';
			@media(min-width: 700px) {
				display: block;
			}

		}
	}
}


.z-hexContainer {
	margin-top: 100px;
	margin-bottom: 100px;
}


.z-uxContainer {
	padding: 40px;
	background-color: #00AFB7;


	.row {
		
	}

	h2 {
		color: white;
		font-family: 'bebas_neuebold';
		@include font-size(100px);
		@include line-height(62px);
		letter-spacing: 2px;
		text-align: left;
		color: #047382;
		color: white;
		padding-bottom: 10px;
		border: none;
	}

	h3 {
		font-family: 'bebas_neueregular';
		@include font-size(60px);
		@include line-height(62px);
		letter-spacing: 2px;
		text-align: left;
		color: #047382;
		color: white;
		padding-top: 30px;
		padding-bottom: 10px;
	}

	p, ul, li {
		color: white;
		font-family: 'roboto';
		font-weight: 300;
		@include font-size(40px);
		@include line-height(50px);
		text-align: left;
		letter-spacing: 1px;
		margin: 0;
		padding: 0;
	}

	.z-ux-left {
		@include span(12 of 12);

		@media(min-width: 768px) {
			@include span(6 of 12);
		}

		svg {

			@media(min-width: 768px) {
				max-width: 400px;
				float: right;
			}
		}
	}

	.z-ux-right {

		@include span(12 of 12);
		padding: 20px;

		@media(min-width: 768px) {
			@include span(6 of 12);
		}
	}

}


.z-uxContainer--bg-2 {
	background-color: #88C440;
	h2 {
		color: #3D7C14;
		color: white;

	}
	h3 {
		color: white;
	}
}

.z-uxContainer--bg-3 {
	background-color: #E2B705;
	h2 {
		color: #C66F06;
		color: white;

	}
	h3{
		color: white;
	}
}

.z-uxContainer--bg-4 {
	background-color: #3d3d3d;
	h2 {
		color: #C66F06;
		color: white;

	}
	h3{
		color: white;
	}
}


#robot-svg {
	height:100%;
	width:100%;
	max-width: 400px;
	text-align: center;
	cursor: pointer;
	display: block;
	margin: auto;
	svg {

	}
}

#robot2-svg {
	height:100%;
	width:100%;
	max-width: 400px;
	text-align: center;
	cursor: pointer;
	display: block;
	margin: auto;
	svg {

	}
}

#robot3-svg {
	height:100%;
	width:100%;
	max-width: 400px;
	text-align: center;
	cursor: pointer;
	display: block;
	margin: auto;
	svg {

	}
}

#svg-area {


	svg {
		height: 100%;
		width: 100%;
	}
}


.jumbo-pic1, .jumbo-pic1 img {
	pointer-event:all;
}
.jumbo-pic1 img:hover  {
	transform: scale(.8);
}

.jumbo-pic1 img {
	clip-path: url(#crux-logo-4--clipPath);
	pointer-event:all;

}






.jumbotron {
	background-color: #ffffff;
}

h1 {
	@include font-size(30px);
}

@keyframes dash {
		to {
			stroke-dashoffset: -1000;
		}
	}

@keyframes dash-back {
		to {
			stroke-dashoffset: 0;
		}
	}

@keyframes dash2 {
		to {
			stroke-dashoffset: 0;
		}
	}

#crux-logo--cr-line1 {
	stroke-dasharray: 1000;
	stroke-dashoffset: 0;
	animation: 3s linear 0s forwards dash;
}

#crux-logo--c-mask1 {
	stroke-dasharray: 1000;
	stroke-dashoffset: 0;
	animation: 4s linear .5s forwards dash;
}

#crux-logo--c-mask2 {
	stroke-dasharray: 1000;
	stroke-dashoffset: 0;
	animation: 4s linear .5s forwards dash;
}

#crux-logo--c-mask3 {
	stroke-dasharray: 1000;
	stroke-dashoffset: 0;
	animation: 4s linear 0s forwards dash;
}


#crux-logo--r-mask1{
	stroke-dasharray: 1000;
	stroke-dashoffset: 100;
	animation: 4s linear 1s forwards dash-back;
}

#crux-logo--r-mask2{
	stroke-dasharray: 1000;
	stroke-dashoffset: 0;
	animation: 4s linear 1s forwards dash;
}

#crux-logo--r-mask3{
	stroke-dasharray: 1000;
	stroke-dashoffset: 0;
	animation: 4s linear 0s forwards dash;
}

#crux-logo--r-mask4{
	stroke-dasharray: 1000;
	stroke-dashoffset: 0;
	animation: 4s linear 0s forwards dash;
}

#crux-logo--r-mask5{
	stroke-dasharray: 1000;
	stroke-dashoffset: 0;
	animation: 4s linear 0s forwards dash;
}

#crux-logo--r-mask6{
	stroke-dasharray: 1000;
	stroke-dashoffset: 0;
	animation: 4s linear 0s forwards dash;
}

#crux-logo--r-mask7{
	stroke-dasharray: 1000;
	stroke-dashoffset: 0;
	animation: 4s linear 0s forwards dash;
}

#cruxlogo{position:relative; max-width:400px;}

#test-tube {position:relative;	}

#myclip {
	z-index: 5;
		stroke: red;
		fill: none;
		stroke-dasharray: 1200;
		stroke-dashoffset: 1200;
		animation: dash 8s linear forwards;

	
}

.svgbox, .svgout {
	height:1000px;
}


#crux-logo {
	

	&--cr {

	}

	

	&--ux {

	}
}


#Layer_1 polyline {
  visibility: hidden;
}



/*=====PARALLAX=====*/


#svgWrapper {
  display:inline-block;
  width:200px;
  height:100px;
  cursor:pointer;
  
  svg {
    stroke-width:17;
    width:400px;
    height:200px;
    transition:transform .5s ease-out;

  }
  
  &:not(.clicked):hover {
    svg {
      transform:scale(.9);
      transition:transform .3s cubic-bezier(.3,.86,.61,1.63);
    }
  }
}



.sidebar {
  width: 60%;
  float: left;
  margin: 0 2% 0 0;
  @include bp-small {
    width: 100%;
    float: none;
    margin: 0;
  }
}






