/*
*= require md_simple_editor
*/
/* Important */
/* Be sure to include "include 'susy' in the config-application file after 'rails all'" */

$aws: 'http://creativecrux.s3.amazonaws.com/images/';

$susy: (
  /* Tells Susy to use 12 columns */
  columns: 12,
  /* Tells Susy that the container has a max-width of 1120px */
  container: 1120px,
  gutters: 0,
  /* Tells Susy to use border-box */
  global-box-sizing: border-box
  );


.margin-top-15 {
	margin-top: 15px;
}

.full-width {
	width:100%;
}

/*.nav {
	@include span(6 of 12);
	height:300px;
	border: purple 1px solid;
}*/
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.navbar-nav li a {
	font-family: "bebas_neueregular";
	@include font-size(30px);
	@include line-height(34px);
	letter-spacing: 1px;
	text-transform: uppercase;
}

.navbar-brand {

	font-family: "bebas_neuebold";
	@include font-size(44px);
	@include line-height(38px);
	letter-spacing: 1px;
}

@keyframes colorchange
    {
      0%   {fill: #00AFB7;}
      25%  {fill: #88C440;}
      50%  {fill: #E2B705;}
      75%  {fill: #88C440;}
      100%  {fill: #00AFB7;}
    }

@keyframes bg-reveal
    {
      0%   {opacity: 0;}
      100% {opacity: .3;}
    }

.main-bg-gradient {
	  background-image: url($aws + '_fullsize/crux-bg-scaffold.jpg');
	  position: absolute;
	  height: 650px;
	  width: 100%;
	  opacity: .5;
	  z-index: -50;
	  top: 0;
	  background-size: cover;
	  animation: bg-reveal 6s;

		@media(min-width: 500px) {
			background-image: url($aws + '_fullsize/crux-bg-scaffold.jpg');
			height:500px;
			background-size: cover;
		}

}


.main-bg {
	animation: colorchange 10s infinite;
	height: 650px;
	width: 100%;
	text-align: center;
	overflow: hidden;
	position: relative;

	@media(min-width: 500px) {
		height: 500px;
	}

	#crux-hero {
		transform: scale(2);
		width: 200%;
		margin-left: -200px;
		margin-top: -600px;


		@media(min-width: 500px){
			transform: scale(1);
			width: 100%;
			margin-left: 0;
		}
	}

	#crux-hero-logo {
		transition: 1s all ease;
		opacity: .5;


		path {
			fill: #ffffff;
		}
	}
	#crux-hero-logo:hover {
		opacity: 1;
		transform: scale(.96, .96) translate(25px, 15px) ;
		transition: 1s all ease;

	}
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

.animate-flicker {
    animation: flickerAnimation 4s infinite ease-out;
}

.mask__shape {
  fill: white;
}


#crux-logo-6 {
	margin-top:40px;
	transition: all .2s ease-out;



}

#crux-logo-6:hover {
	transition: all .4s ease-out;

	@media(min-width: 768px) {
		transform: scale(1.1);
	}
}


.main-header-wrapper {
	align-items: center;
	z-index: 50;
	justify-content: center;
	position: relative;
	width: 80%;
	margin: auto;

	@media(min-width: 768px) {
		justify-items: center;
		padding:0;
		text-align: center;
		width: 50%;

		#crux-logo-5 {
			padding: 40px 100px;
		}

		span {

			display: block;
		}
	}


	h1 {
		font-family: 'bebas_neuebold';
		@include font-size(68px);
		@include line-height(64px);
		text-align: center;
		color: #3d3d3d;
		opacity: .7;
		letter-spacing: 1px;
		padding: 20px 20px;

		@media(min-width: 768) {
			text-align: left;
			@include font-size(60px);
			@include line-height(55px);
		}

	}

	#crux-logo-6 {
		order: -1;
		flex: none 0;
		/*min-width: 320px;*/
		transition: transform .3s ease-in;
		width: 60%;

		@media(min-width: 768px) {
			width: 100%;

		}

		&:hover {
			transition: transform .5s ease-out;
			transform: scale(1.05);
		};
	}

	#crux-logo-5 {
		padding: 0 20px;
	}
}

.intro {
	margin-top: 70px;
	text-align: center;

	h1 {
		font-family: 'bebas_neuebook';
		@include font-size(70px);
		@include line-height(72px);
		color: #ffffff;
		text-transform: uppercase;
		margin-bottom:0;

		span {
			font-family: 'bebas_neuebold';
			@media(min-width: 700px) {
				display: block;
			}

		}
	}
}


.z-hexContainer {
	margin-top: 100px;
	margin-bottom: 100px;
}




.z-uxContainer {
	padding: 40px 40px 80px 40px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, .25) 0%, rgba(0, 0, 0, 0) 6%);
	background-color: #00AFB7;


	.zQuote {
		padding-top: 12px;
		color: white;
		font-family: 'proxima_nova_rgbold';
		font-weight: 400;
		@include font-size(34px);
		@include line-height(40px);
		font-style: italic;
	}


  .link-container-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 320px;
  }

	.link-container {
		clear: both;
		display: block;
	}



	.row {

	}

	h2 {
		color: white;
		font-family: 'bebas_neuebold';
		@include font-size(100px);
		@include line-height(90px);
		letter-spacing: 2px;
		text-align: left;
		color: #047382;
		color: white;
		padding-top: 40px;
		padding-bottom: 10px;
		border: none;
	}

	h3 {
		font-family: 'bebas_neueregular';
		@include font-size(60px);
		@include line-height(62px);
		letter-spacing: 2px;
		text-align: left;
		color: #047382;
		color: white;
		padding-top: 30px;
		padding-bottom: 10px;
	}

	p, ul, li {
		color: white;
		font-family: 'proxima_nova_rgregular';
		font-weight: 400;
		@include font-size(40px);
		@include line-height(50px);
		text-align: left;
		letter-spacing: 1px;
		margin: 0;
		padding: 0;
		width: 100%;

		@media(min-width: 768px) {
			width: 80%;
		}
	}

	ul {
		list-style: disc;
		width: 100%;

	}

	li {
		margin-left: 22px;
	}

	.z-ux-left {
		@include span(12 of 12);

		@media(min-width: 768px) {
			@include span(6 of 12);
		}

		svg {

			@media(min-width: 768px) {
				max-width: 400px;
				float: right;
			}
		}
	}

	.z-ux-right {

		@include span(12 of 12);

		@media(min-width: 768px) {
			@include span(6 of 12);
		}
	}

}


.z-uxContainer--bg-2 {
	background-color: #88C440;
	h2 {
		color: #3D7C14;
		color: white;

	}
	h3 {
		color: white;
	}
}

.z-uxContainer--bg-3 {
	background-color: #FF8C00;
	h2 {
		color: #C66F06;
		color: white;

	}
	h3{
		color: white;
	}
}

.z-uxContainer--bg-4 {
	background: transparent;

	h2 {
		color: #3c3c3c;
	}

	h3{
		color: white;
	}
}
.z-uxContainer--bg-4:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	background-image: url($aws + '_fullsize/crux-bg-scaffold.jpg');
	background-size: cover;
	z-index: -1;

}

.z-resume {
	max-width: 1200px;
	margin: auto;
	display: block;


	h2 {
		width: 100%;
		text-align: center;
	}

	p, li, h3, h2 {
		color: #3c3c3c;
	}
}

.z-resume-left {
	@include span(12 of 12);
	p, li, h3, h2 {
		text-align: left;
	}

		@media(min-width: 768px) {
			@include span(8 of 12);
		}
}

.z-resume-right {
	@include span(12 of 12);
	p, li, h3, h2 {
		text-align: left;
	}

		@media(min-width: 768px) {
			@include span(4 of 12);
		}
}


#robot-svg {
	width:100%;
	max-width: 400px;
	text-align: center;
	cursor: pointer;
	display: block;
	margin: auto;
	svg {

	}
}

#robot2-svg {
	width:100%;
	max-width: 400px;
	text-align: center;
	cursor: pointer;
	display: block;
	margin: auto;
	svg {

	}
}

#robot3-svg {
	width:100%;
	max-width: 400px;
	text-align: center;
	cursor: pointer;
	display: block;
	margin: auto;
	svg {

	}
}

#svg-area {


	svg {
		height: 100%;
		width: 100%;
	}
}


.jumbo-pic1, .jumbo-pic1 img {
	pointer-event:all;
}
.jumbo-pic1 img:hover  {
	transform: scale(.8);
}

.jumbo-pic1 img {
	clip-path: url(#crux-logo-4--clipPath);
	pointer-event:all;

}






.jumbotron {
	background-color: #ffffff;
}

h1 {
	@include font-size(30px);
}

@keyframes dash {
		to {
			stroke-dashoffset: -1000;
		}
	}

@keyframes dash-back {
		to {
			stroke-dashoffset: 0;
		}
	}

@keyframes dash2 {
		to {
			stroke-dashoffset: 0;
		}
	}

#crux-logo--cr-line1 {
	stroke-dasharray: 1000;
	stroke-dashoffset: 0;
	animation: 3s linear 0s forwards dash;
}

#crux-logo--c-mask1 {
	stroke-dasharray: 1000;
	stroke-dashoffset: 0;
	animation: 4s linear .5s forwards dash;
}

#crux-logo--c-mask2 {
	stroke-dasharray: 1000;
	stroke-dashoffset: 0;
	animation: 4s linear .5s forwards dash;
}

#crux-logo--c-mask3 {
	stroke-dasharray: 1000;
	stroke-dashoffset: 0;
	animation: 4s linear 0s forwards dash;
}


#crux-logo--r-mask1{
	stroke-dasharray: 1000;
	stroke-dashoffset: 100;
	animation: 4s linear 1s forwards dash-back;
}

#crux-logo--r-mask2{
	stroke-dasharray: 1000;
	stroke-dashoffset: 0;
	animation: 4s linear 1s forwards dash;
}

#crux-logo--r-mask3{
	stroke-dasharray: 1000;
	stroke-dashoffset: 0;
	animation: 4s linear 0s forwards dash;
}

#crux-logo--r-mask4{
	stroke-dasharray: 1000;
	stroke-dashoffset: 0;
	animation: 4s linear 0s forwards dash;
}

#crux-logo--r-mask5{
	stroke-dasharray: 1000;
	stroke-dashoffset: 0;
	animation: 4s linear 0s forwards dash;
}

#crux-logo--r-mask6{
	stroke-dasharray: 1000;
	stroke-dashoffset: 0;
	animation: 4s linear 0s forwards dash;
}

#crux-logo--r-mask7{
	stroke-dasharray: 1000;
	stroke-dashoffset: 0;
	animation: 4s linear 0s forwards dash;
}

#cruxlogo{position:relative; max-width:400px;}

#test-tube {position:relative;	}

#myclip {
	z-index: 5;
		stroke: red;
		fill: none;
		stroke-dasharray: 1200;
		stroke-dashoffset: 1200;
		animation: dash 8s linear forwards;


}

.svgbox, .svgout {
	height:1000px;
}



#Layer_1 polyline {
  visibility: hidden;
}



/*=====PARALLAX=====*/


#svgWrapper {
  display:inline-block;
  width:200px;
  height:100px;
  cursor:pointer;

  svg {
    stroke-width:17;
    width:400px;
    height:200px;
    transition:transform .5s ease-out;

  }

  &:not(.clicked):hover {
    svg {
      transform:scale(.9);
      transition:transform .3s cubic-bezier(.3,.86,.61,1.63);
    }
  }
}

.sidebar {
  width: 60%;
  float: left;
  margin: 0 2% 0 0;
  @include bp-small {
    width: 100%;
    float: none;
    margin: 0;
  }
}


#myChart {
	display:block;
	width: 300px;

	#myChartCanvas {
		width: 300px;
	}

	#myChartCanvas {
		width: 300px;
	}


}

#myChart2 {
	display: block;
	width: 300px;
}

.static {
	.cd-panel-content {
		overflow: initial;
	}
}
