/* Important */
/* Be sure to include "include 'susy' in the config-application file after 'rails all'" */
@import 'susy';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,700');



/*.nav {
	@include span(6 of 12);
	height:300px;
	border: purple 1px solid;
}*/

.container {
	
}

.project-slice {
    min-height: 600px;
    width: 100%;
    clear: both;
    overflow: hidden;

}

#project-detail {
	display: none;
}


.project {
	&--item {
		margin-bottom: 40px;
	}

	&--detail-link {
		color: black;
		opacity: 0.2;
		text-transform: uppercase;
		font-size: 6rem;
		font-weight: 700;
		-webkit-transition: all .3s ease-out;
			-moz-transition: all .3s ease-out;
			-o-transition: all .3s ease-out;
			transition: all .3s ease-out;

		&:hover {
			color: white;
			text-decoration: none;
			transition:font 0.3s ease;
			opacity: 0;
		}
	}

	&--detail{
		position:absolute;
		z-index:99999;
		padding: 20px;
	}

	&--img-wrapper {
		max-width: 100%;
		border-radius: 5px 5px 0 0;
		overflow:hidden;
	}

	&--img {
		width: 100%;
		-webkit-transition: all .3s ease-out;
		-moz-transition: all .3s ease-out;
		-o-transition: all .3s ease-out;
		transition: all .3s ease-out;
		
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
		opacity: 0.4;
		
		&:hover {
			transform:scale(1.075);
			-webkit-filter: grayscale(0%);
			filter: grayscale(0%);
			opacity: 1;
		};
	}
}

/*=====PARALLAX=====*/

