@import 'base/reset';
@import 'susy';
/*url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');*/
/*url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');*/


@import 'base/fonts';
@import 'base/mixins';
@import 'base/animate';
@import 'base/buttons';

@import 'nav-partials/layout';
@import 'nav-partials/mixins';
@import 'nav-partials/variables';
@import 'nav/pushnav';
@import 'nav/svg_buttons';
/*@import 'nav/nav-resume';*/

@import 'site/background';
@import 'projects/projects';
@import 'pages/project_posts';
@import 'shapes/shapes';
/*@import 'shapes/hexagons';*/
/*@import 'shapes/hexagons2';*/
/*@import 'shapes/hexagons3';*/

@import 'diagram/hex_diagram';

@import 'nav/slider';
@import 'home';


/*@import 'svgtest/animated-text-fills';
/*@import 'svgtest/animated-resume';*/
@import 'diagram/diagram';
/*@import 'aos/dist/aos.css';*/


html,body { height: 100%; margin: 0px; padding: 0px; }

h1,h2,h3,p, li, li a {
	font-family: 'bebas_neuebook', sans-serif ;
	letter-spacing: 4px;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  display: block;
}
*, *:before, *:after {
  box-sizing: inherit;
}
