<h2><%= @project_image.name %></h2>
<%= image_tag(@project_image.urlpath) %>
<br>

<div class="links btn-group">
<% if user_signed_in? %>
	<%# if @project.user_id == current_user.id %>
		<%= link_to "Edit Project", edit_project_image_path(@project_image) %>
		<%= link_to "Delete Project", project_image_path(@project_image), method: :delete, data: { confirm: "Are you sure?"} %>
	<%# end %>
<% end %>

</div>